* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;

    /* background-color: var(--bg-color); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --main-color:rgb(106, 145, 253);
    --text-color:#000;
    --white-text:#fff;
    --magical-text:brown;

}
html{
    scroll-behavior: smooth;
}
/* .taskbar{
    overflow-x: hidden;
} */
span{
    color: var(--magical-text);
}
section {
    max-height: 100vh;
    width: 100%;     
    /* padding: 10rem 9% 2rem; */
}
.heading{
    text-transform: uppercase;
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}
.cont{
    min-height: 100vh;
    background-image:  url("images/homeImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo img{
    height: 5rem;
    width: auto;
    margin-left: 15rem;
    margin-top: 1rem;
    /* margin-top: .8rem; */
}
header{
    width: 85%;
    margin: auto;
}
nav{
    height: 80px;
    justify-content: space-evenly;
}
nav ul{
    /* color: white; */
    float: right;
    line-height: 80px;
}
nav ul li{
    display: inline-block;
    padding: 0 50px;
    margin-top: 1.2rem;
    margin-right: 25px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
    
}
nav ul li a:hover{
        background-color: #eb7620;
        transition: 0.5s ease;
} 
nav ul li .active{
    background-color: #eb7620;

}
.home{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
    color: hsl(0, 55%, 47%);
}
.home h1{
    font-size: 5rem;
    margin-top: 3rem;
}
#btn{
    padding: 15px 30px;
}
.button {
    background-color: transparent;
    color: white;
    padding: 15px 30px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
  
.button:hover {
    background-color: rgb(58, 14, 216);
}
.home-btn{
    padding-top: 2rem;
    border-radius: 4rem solid black;
    background-color: transparent !important;
}

/* about */
.about{
    height: 100vh;
}
.about-head{
    height: 6rem;
    width: 100%;
    justify-items: center;
    align-content: center;
    margin-left: 2px solid #fff;

}
.about-info{
    color: var(--text-color);
    width: 30%;
    /* margin-top: 0; */
    margin-left: 40rem;
    padding-top: 0;
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100%;
    justify-content: center;
    /* transform: translateY(25vh); */

}
/* .about-foot{
    height: 8rem;
    width: 100%;
} */
.info{
    margin-top: .2rem;
}
#contactnow{
    justify-content: space-around;
    margin-left: 55rem;
    margin-bottom: 50rem;
}
img{
    height: 20rem;
    width: auto;
    margin-left: 27rem;
    margin-bottom: 10rem;
}
.list ul{
    margin-bottom: 0;
    padding-bottom: 0;
}
.about-footer{

    height: 6rem;
    width: 100%;
    justify-items: center;
    /* align-content: center; */
    margin-top: 0;
    padding-top: 10px;
    /* top:-10px; */
    /* margin-right: 10rem; */
    /* margin-left: 2px solid #fff; */


}
/* servies */
/* .img1{
    height: 18rem;
    width: auto; */
    /* margin-left: 45rem; */
    /* margin-top: 0rem; */
    /* margin-bottom: 50rem; */
/* }
.img2{
    height: 10rem;
    width: auto;
}
.img3{
    height: 10rem;
    width: auto;
} */
.about-main{
    /* display: inline-flex; */
    
}
.about-headinfo{
    background: rgb(73, 73, 177);
    color: #fff;
    height: 8rem;
    width: 100%;
    text-align: center ;
    /* justify-items: center; */
}
.about-info{
    flex: 1;
    width: 30%;
    /* display:inline-block;     */
    /* text-align: center; */
    margin-left: 15rem; 
    justify-content: left;

    /* justify-items: center;   */
    
    margin-bottom: 1.5rem;   
}
.about-headinfo #contactnow{
    /* display: flex; */
    /* flex-direction: column; */

}
.about-img row{
    text-align: right;
    /* display: block; */
    /* display: inline; */

}
.img-col{
    height: 4rem;

}

.about-footer{
    background: rgb(73, 73, 177);
    height: 8rem;
    width: 100%;
    text-align: center ;
    color: #fff;
    /* top: 40px; */
    /* justify-content: center; */
    /* margin-top: 14rem; */
}
/* services */
.service{
    background: rgb(184, 184, 255);
    height: 100vh;
    /* margin-top: 3rem; */
}
.service-info h2{
    text-transform: uppercase;
}
.service-info{
    color: #fffffd;
    text-align: center;  
    margin-top: 0;
    /* justify-content: center; */
}
.services_c {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 20px;
    margin: 0 20px;
    /* display: flex;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem; */

}
.service_box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    height: 200px;
    width: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 10rem;
    /* background: burlywood; */
    text-align: center;
    justify-content: center;
    border-radius: 2rem;
    border: 0.3rem solid transparent;
    transition: 0.3s ease;
    width: 17rem;
    height: 250px;
    margin: 5px;
    padding: 5px;

}
.service_box:nth-child(5){
    grid-row: 2;
    grid-column: 1;
}
.service_box:nth-child(6){
    grid-row: 2;
    grid-column: 2;
}
.service_box h3{
    /* margin-bottom: 30px; */
}
/* .service_box p{
    text-align: center;
    margin-bottom: 0;
} */

.services_c .service_box:hover {
    border-color: rgb(100, 100, 216);
    transform: scale(1.03);
}

/* gallery
 */
.gallery-container {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: #fff;
    min-height: 100vh;
}
/* .gallery-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
} */

.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    height: 30rem;
    width: 55%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.carousel-images img {
    height: 30rem;
    width: 100%;
    flex-shrink: 0;
    margin: 0;
}
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
/* .gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: max-content;

}
.image-box{
    justify-content: space-evenly;

}   */

  
/* .image-box img {
    width: 15rem;
    height: 20rem;
    justify-content: space-between;
    border-radius: 10px;
}
   */
.fun-facts {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-right: 40rem;
    /* margin-top: 50px; */
}
.fun-facts p {
    margin-bottom: 20px;
}
.button-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 30px; */
}
  


.container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.circle::before{
    content: "";
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eee;
    position: absolute;
    top: 10px;
    left: 
    10px;
}
.circle img{
    width: 30px;
    height: 30px;
}
.circle span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.circle-blue{
    border-color: #3498db;
}
.circle-blue::before{
    background-color: #3498db;
}

/* contact */
.contact{
    min-height: 100vh;
    width: 100%;

}
.contact-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 4.9rem;
    
}
.cont-info.contact-container{
    background-color: cadetblue;
}
.contact-card{
    /* flex: 1 1 20rem; */
    /* background: burlywood; */
    background-color: #fff;
    padding: 23px;
    text-align: center;
    border-radius: 8px;
    width: 210px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;   
    /* padding-bottom: 0; */
    /* border: 0.3rem solid transparent; */
    /* transition: 0.3s ease; */
    /* box-sizing: border-box;   */

}
.contact-card p{
    font-size: small;
    text-align: center;
}

.cont-cant .con-container:hover {
    border-color: rgb(100, 100, 216);
    transform: scale(1.03);
}

/* footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0;
    background-color: var(--bg-color);
    text-align: center;
    /* background-color: #000; */
    background-image:  url("images/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    /* min-height: 50vh;   */

} 
.footer-icon img{
    height: 7rem;
    /* margin-top: 3rem; */
    margin-right: 26rem;
    margin: 2rem;


    
}
.social {
    display: flex;
    justify-content: center;
}

.social .footer .social {
    justify-items: center;
    text-align: center;
    padding-bottom: 25px;

    color: var(--main-color);
    margin: 0 10px;
}

.footer .social a {
    font-size: 25px;
    font-weight: 200px;
    color: brown;
    border: 0.2rem solid brown;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 50%;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: brown;
    box-shadow: 0 0 25px brown;
    color: var(--white-text);
}

.footer-links {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding-bottom: 1rem;
    color: var(--white-text);
    font-size: medium;
    transition: 0.4s ease;
    position: relative;
    column-gap: 3rem;
    list-style: none;
    margin-top: 1rem;
}
.footer-links:hover {
    color: brown;
}

/* .footer-links::before{
    content: "";
    transform: translateY(-50%);
    position: absolute;
    left: -10px;
    top:50%;
} */
.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--white-text);
}
.magical-extra{
    text-align: center;
    /* margin: 5rem 0; */
    background-color: black;
    color: var(--white-text);
}
.magical-extra h3{
    /* margin-top: 3px; */
}
.magical-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-gap: 20px;
    margin: 3rem 18em;
    /* margin-bottom: 20rem; */
}
.magicial-box{
    /* background-color: #f0f0f0; */
    padding: 0.5px;
    border-radius: 4px;
    text-align: center;
    height: 100px;
    width: auto;
    text-align: center;
    justify-content: center;
    border-radius: 2rem;
    border: 0.3rem solid transparent;
    transition: 0.3s ease;
    height: max-content;
    margin: 0;
    
}
